<?xml version="1.0" encoding="UTF-8" ?>
<!--
  [SQL 흐름 안내]
  연결 인터페이스: com.kiosk.branch.status.reopsitory.RestockRequestMapper
  호출 흐름: Service -> Mapper 인터페이스 -> 이 SQL -> MySQL -> 결과 반환
  주요 테이블: restock_requests
-->


<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.kiosk.branch.status.reopsitory.RestockRequestMapper">


    <delete id="deleteByStoreFlavorId">
        DELETE FROM restock_requests
        WHERE store_flavor_id = #{storeFlavorId}
    </delete>


</mapper>