<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kiosk.headquarter.mapper.HeadStoreProductMapper">

    <insert id="insertStoreProduct">
        INSERT INTO store_product (
            store_id,
            product_id,
            store_product_price,
            store_product_status
        )
        VALUES (
            #{storeId},
            #{requestDTO.productId},
            #{requestDTO.storeProductPrice},
            #{requestDTO.storeProductStatus}
        )
    </insert>

    <select id="selectStoreProductList"
            parameterType="int"
            resultType="com.kiosk.headquarter.dto.store.HeadStoreProductListResponseDTO">

        SELECT
            sp.store_product_id,
            sp.store_id,
            sp.product_id,
            hp.product_name,
            hp.product_category,
            sp.store_product_price,
            sp.store_product_status
        FROM store_product sp
        JOIN head_product hp
            ON sp.product_id = hp.product_id
        WHERE sp.store_id = #{storeId}
          AND sp.store_product_status != 'DELETED'
        ORDER BY sp.store_product_id DESC

    </select>

    <update id="updateStoreProduct">
        UPDATE store_product
        SET
            store_product_price = #{requestDTO.storeProductPrice},
            store_product_status = #{requestDTO.storeProductStatus},
            updated_at = NOW()
        WHERE store_id = #{storeId}
          AND store_product_id = #{storeProductId}
    </update>
    
    <update id="deleteStoreProduct">
	    UPDATE store_product
	    SET
	        store_product_status = 'DELETED',
	        updated_at = NOW()
	    WHERE store_id = #{storeId}
	      AND store_product_id = #{storeProductId}
	</update>

</mapper>